<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>
        Application à destination des libraires pour leur permettre de créer des offres couplées même s'ils n'ont pas accès à une imprimante ou un logiciel de caisse compatible.'
    </description>
    <author email="contact@paperus.fr" href="http://www.paperus.fr">
        Paperus Team
    </author>
    <plugin name="Notification" value="CDVNotification" />

    <content src="index.html" />
    <access origin="*" />
</widget>
